

.header {
    border-bottom: 1px solid #edf2f4;
}

.navList {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

.item {
    padding: 10px 20px;
}

.link {
    font-weight: 600;
    color: #fff;
    font-weight: 500;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    color: #ef233c;
}

.activeLink {
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    background-color: #ef233c;
}


